[tool.poetry]
name = "wtforglib"
description = "A set of utility functions I use in my various python projects."
version = "0.8.0"
license = "MIT"

authors = [
  "Quien Sabe <qs5779@mail.com>",
]

readme = "README.md"


homepage = "https://github.com/wtfo-guru/wtforglib"
documentation = "https://wtforglib.readthedocs.io/en/stable"

keywords = []

classifiers = [
  "Development Status :: 3 - Alpha",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Typing :: Typed",
]

[tool.poetry.dependencies]
python = "^3.7"
types-pyyaml = "^6.0.12.2"
wheel = "^0.38.0"
pyyaml = "^6.0"
jinja2 = "^3.1.2"

[tool.poetry.group.test.dependencies]
mypy = ">=0.982,<1.1"

wemake-python-styleguide = "^0.17"
flake8-pytest-style = "^1.6"
doc8 = "^1.0"
nitpick = "^0.32"


pytest = "^7.1"
pytest-cov = "^4.0"
pytest-randomly = "^3.12"
black = ">=22.12,<24.0"
setuptools = ">=65.6.3,<68.0.0"
packaging = ">=22,<24"
importlib-metadata = { version = "<5.0", python = "<3.8" }
testfixtures = "^7.0.4"
pyfakefs = "^5.1.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^5.2"
sphinx-autodoc-typehints = "^1.19"
m2r2 = "^0.3"
tomli = "^2.0"


[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"
